body {
  background-color: #fff;
}

h1 {
  width: 1000px;
  margin: 20px auto;
  font-family: 'Press Start 2P', cursive, serif;
}

h2 {
  margin: 10px auto;
  margin-right: 10px;
  font-family: 'Press Start 2P', cursive, serif;
  font-size: 1.1em;
  float: left;
}

.lines {
  display: block;
  margin-top: 10px;
}

.label, .tail-text { 
  font-size: 0.8em;
}

.tail-text {
  font-style: italic;
  margin: 0 0 10px 0;
}

.last {
  color: red;
}

#errors {
  width: 1000px;
  margin: 20px auto;
  color: red;
  font-style: italic;
  text-align: center;
}

#content {
	margin: auto;
  border: solid 1px #ccc;
  width: 1000px;
  height: 500px;
  padding: 10px;
}

#buttons {
  float: left;
  width: 20%;
  margin-right: 10px;
}

#buttons .reader {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

#buttons #stop {
  display: block;
  width: 100%;
  height: 50px;
}

#display {
  height: 100%;
  width: 75%;
  padding-left: 10px;
  float: left;
  border-left: solid 1px #ccc;
}

#log {
  height: 89%;
  margin-top: 15px;
  overflow: auto;
  border: solid 1px #ccc;
  padding: 5px;
}

input[type="text"] {
  width: 72px;
}

input[type="button"] {
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(border-radius.htc);
  text-align: center;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#e1e1e1');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#e1e1e1')";
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(top,  #fff,  #e1e1e1);
  border: solid 1px #808080;
  padding: 3px 5px 3px 5px;
  font-style: italic;
}

input[type="button"]:active {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e1e1e1', endColorstr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e1e1e1', endColorstr='#ffffff')";
  background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#fff));
  background: -moz-linear-gradient(top,  #e1e1e1,  #fff);
}

input[type="button"]:focus {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

.clear {
  clear: both;
}
